/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

@media (zoom: 75%) {
  body {
    font-size: 1.2rem;
  }
}

@media (zoom: 100%) {
  body {
    font-size: 1.5rem;
  }
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .body {
    font-size: 14px;
  }
}

.dropdown-link:hover + .dropdown-menu {
  display: block;
}

.bg-orange-500 {
  background-color: #FFA07A; /* or any other custom orange color you prefer */
}

.bg-orange-400 {
  background-color: #FABF62; /* or any other custom orange color you prefer */
}

.bg-linear-gradient {
  background-image: linear-gradient(to bottom, #FFFEFC 0%, #FEFAF5 100%);
}
.header-image {
  max-width: 100%;
  height: auto;
}
.icon {
  transform: translateY(-35px);
}

.custom-left-margin {
  left: 25vh;
  margin-top: 15vh;
}

.custom-right-margin {
  right: 20vh;
  margin-top: 80vh;
}

.bg-blue-700
{
  background-color: #353448;
}

.bg-blue-800
{
  background-color: #183656;
}
.custom-width
{
  width:160vh;
}

.custom-height
{
  height: 20vh;
}

